.container {
  padding: 15px;
}

.vco {
  margin: 10px 0;
}

body {
  text-align: center;
}

input[type="range"]{

}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*border-left: 2px outset #444;*/
    width:100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #444;
    border: 2px inset #666;
    border-radius: 0;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px outset #07a;
    height: 16px;
    width: 8px;
    border-radius: 0;
    background: #069;
    margin-top: -6px;
}

.padded {
  padding: 15px;
}

.controls {
  background-image: url('../images/metal_bg.png');
  background-size: cover;
  margin: 20px;
  border-radius: 10px;
}
