<!-- Header -->
<div layout="row">
<!-- Patch Title -->
  <div flex="33">
    <h3 class="inset-header">{{ec.patch.name}}</h3>
  </div>
<!-- / Patch Title -->

<!-- Qwerty Hancock -->
  <div flex="33" id="keyboard"></div>
<!-- / Qwerty Hancock -->

  <div flex="33">
    <md-button class="md-raised" ng-click="ec.savePatch()">Save patch</md-button>
  </div>
</div>
<!-- / Header -->

<div layout="row" class="controls">

<!-- VCO Settings -->
  <div flex="50" class="padded">
    <h3>Oscillators</h3>
    <div ng-repeat="vco in ec.patch.vcos" class="vco">
      <div layout="row">
        <div flex="50" class="padded">
          <md-select ng-model="vco.oType" ng-change="ec.syncVcos()">
              <md-option value="sine">
              Sine
            </md-option><br/>
              <md-option value="sawtooth">
              Sawtooth
            </md-option><br/>
              <md-option value="square">
              Square
            </md-option><br/>
              <md-option value="triangle">
              Triangle
            </md-option><br/>
          </md-select>
        </div>
        <div flex="50" class="padded">
          Detune:<br> <input type="range" min="-30" max="30" ng-model="vco.detune" ng-change="ec.syncVcos()"><br>
          Gain:<br> <input type="range" min="0" max="1" ng-model="vco.gain" step="0.1" ng-change="ec.syncVcos()">
        </div>
      </div>
    </div>
  </div>
<!-- / VCO Settings -->


<!-- Amplifier Envelope Settings -->
<br><br>
  <div flex="50" class="padded">
    <h3>Amp Envelope</h3>
    Attack:<br>
    <input type="range" min="0" max="1" step="0.001" style="width:100%" ng-model="ec.patch.ampAdsr.attack"><br>
    <!-- Decay:<br>
    <input type="range" min="0" max="1" step="0.001" ng-model="ec.patch.ampAdsr.decay"><br>
    Sustain:<br>
    <input type="range" min="0" max="1" step="0.001" ng-model="ec.patch.ampAdsr.sustain"><br> -->
    Release:<br>
    <input type="range" min="0" max="1" step="0.001" ng-model="ec.patch.ampAdsr.release">
<!-- / Amplifier Envelope Settings -->

<br><br>
<!-- Filter Settings -->
    <h3>Filter</h3>
    Cutoff:<br>
    <input type="range" min="0" max="16000" ng-model="ec.patch.filter.cutoff" ng-change="ec.syncFilter()">
    Resonance:<br>
    <input type="range" min="0" max="20" step="0.1" ng-model="ec.patch.filter.resonance" ng-change="ec.syncFilter()">
    <md-select ng-model="ec.patch.filter.fType" ng-change="ec.syncFilter()">
        <md-option value="lowpass">
        <span style="text-align:center">Lowpass</span>
      </md-option><br/>
        <md-option value="highpass">
        Highpass
      </md-option><br/>
        <md-option value="bandpass">
        Bandpass
      </md-option><br/>
    </md-select>
<!-- Filter Settings -->


<!-- Filter Envelope Settings -->
    <!-- <h3>Filter Envelope</h3>
    Attack:<br>
    <input type="range" min="0" max="1" step="0.001" style="width:100%" ng-model="ec.patch.filterAdsr.attack"><br>
    Decay:<br>
    <input type="range" min="0" max="1" step="0.001" ng-model="ec.patch.filterAdsr.decay"><br>
    Sustain:<br>
    <input type="range" min="0" max="1" step="0.001" ng-model="ec.patch.filterAdsr.sustain"><br>
    Release:<br>
    <input type="range" min="0" max="1" step="0.001" ng-model="ec.patch.filterAdsr.release">
  </div> -->
<!-- / Filter Envelope Settings -->
</div>
<!-- / Row -->
