<div layout="row" layout-align="center center">
  <div class="controls" flex="50">
    <form ng-submit="lc.login()">
      <h1 class="inset-header">Log In</h1><br>
      <md-input-container>
        <input type="text" placeholder="Username" ng-model="lc.username"><br>
      </md-input-container><br>
      <md-input-container>
        <input type="password" placeholder="Password" ng-model="lc.password"><br>
      </md-input-container><br>
      <md-button class="md-raised" type="submit">Log In</md-button>
      <md-button class="md-raised" type="button" ng-click="lc.register()">Register</md-button>
    </form>
  </div>
</div>
