<div ng-if="!pc.isUser"><a href="#" ng-click="pc.backToProfile()">Back to Profile</a><br></div>
<h1 class="inset-header" ng-if="pc.user.name != 'public_patches'">{{pc.user.name}}'s Patches</h1>
<h1 class="inset-header" ng-if="pc.user.name == 'public_patches'">Public Patches</h1>
<br>
<div ng-if="pc.isUser"><a href="#" ng-click="pc.logout()">Log Out</a><br></div>

<md-button class="md-raised" ng-click="pc.newPatch()" ng-if="pc.isUser">New Patch</md-button><br>
<div ng-if="pc.creating" >
  <md-input-container class="inset-header">
    <input type="text" ng-model="pc.newPatchName" placeholder="Enter Patch Name">
  </md-input-container><br>
  <md-button class="md-raised" ng-click="pc.createPatch()">Create</md-button>
</div>

<md-button class="md-raised" ng-click="pc.publicPatches()" ng-if="pc.user.name != 'public_patches'">Browse Public Patches</md-button>

<div layout="row" layout-align="center center">
  <div flex="60">
    <div ng-repeat="patch in pc.patches" class="controls">
      <a ui-sref="edit({id: patch._id})"><h3 class="inset-header">{{patch.name}}</h3><br></a>
      <span ng-if="pc.isUser">
        <a href="#" ng-click="pc.share(patch)">Share to Public Patches</a>
        <a ui-sref="edit({id: patch._id})">Edit</a>
        <a href="#" ng-click="pc.deletePatch(patch)">Delete</a>
      </span>
      <a ng-if="!pc.isUser" ng-click="pc.copyToProfile(patch)">Duplicate to Collection</a>
    </div>
  </div>
</div>
